.div1 {
    /*cau c2*/
        border: 5px outset red;
        background-color: lightblue;
        text-align: center;
        /*cau d*/
        color: blue; /* Đổi màu chữ thành màu xanh */
        font-size: 16px; /* Đặt kích thước phông chữ thành 16 pixel */
        /*margin: 10px;*/ /* Đặt lề cho phần tử */
        margin: 0 auto; /* Đặt lề trái và phải tự động để nó nằm giữa */
        padding: 5px; /* Đặt lề bên trong cho phần tử */
        opacity: 0.7; /* Đặt độ trong suốt của phần tử */
        box-shadow: 5px 5px 5px gray; /* Thêm đổ bóng với tô đen */
        /*display: block;*/ /* Hiển thị phần tử như một khối hộp */
    }